@model LoginViewModel
@using COVID19Ninjas.ViewModels
@{
    ViewData["Title"] = ":: FORGOT PASSWORD :: ";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<main class="main">
    <!-- promo start-->
    <section class="promo">
        <div class="promo-slider">
            <div class="promo-slider__item promo-slider__item--style-2">
                <picture>
                    <img class="img--bg" src="~/Template/img/forgotPassword.jpg" alt="img" />
                </picture>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="align-container">
                                <div class="align-container__item">
                                    <div class="">
                                        <div class="promo-slider__wrapper-">
                                            <h1 class="promo-slider__title"><span>Forgot Password</span></h1>
                                        </div>
                                        <form class="form" action="javascript:void(0);">
                                            <p class="form__text">Enter your email address to reset your password.</p>
                                            <div class="row mt-4">
                                                <div class="col-lg-8 col-sm-12">
                                                    <input class="form__field" type="text" name="first-name" placeholder="Username/Email Address *" required="required" />
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col-lg-5">
                                                    <button class="button button--primary" type="submit"><i class="fa fa-sign-in"></i> &nbsp;Reset Password</button>
                                                </div>
                                                <div class="col-lg-3">
                                                    <p><a asp-controller="Account" asp-action="Login" class="aside-menu__link text-warning pull-right">Back to Login</a></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- promo pannel start-->
        <div class="promo-pannel">
            <div class="promo-pannel__email">
                <p class="promo-pannel__title">Need Help?</p><a class="promo-pannel__link" href="mailto:support@reliefregister.ng">support@reliefregister.ng</a>
            </div>
        </div>
    </section>
    <!-- promo end-->
</main>
